@model EventManagement.WebRazorPages.Pages.Profile.ChangePasswordModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="Password" class="control-label"></label>
    <input asp-for="Password" class="form-control" />
    <span asp-validation-for="Password" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="NewPassword" class="control-label"></label>
    <input asp-for="NewPassword" class="form-control" />
    <span asp-validation-for="NewPassword" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="NewPasswordConfirmation" class="control-label"></label>
    <input asp-for="NewPasswordConfirmation" class="form-control" />
    <span asp-validation-for="NewPasswordConfirmation" class="text-danger"></span>
</div>