@page
@addTagHelper *, EventManagement.WebRazorPages
@model EventManagement.WebRazorPages.Pages.Profile.ChangePasswordModel
@{
}
<div class="row">
    <div class="col-6 mx-auto">
        <div class="card">
            <div class="card-header text-center">
                <h3>Change Password</h3>
            </div>
            <div class="card-body">
                <ajax-form asp-antiforgery="true" type="html" button-text="Change Password" button-type="primary">
                    <div id="partialForm">
                        <partial name="ChangePasswordForm" model="Model" />
                    </div>
                </ajax-form>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_UnobtrusiveAjax");
    }
}