@page
@using EventManagement.WebRazorPages.Extensions;
@addTagHelper *, EventManagement.WebRazorPages
@model EventManagement.WebRazorPages.Pages.Auth.RegisterModel
@{
}
<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header text-center">
                <h3>Register</h3>
            </div>
            <div class="card-body">
                <ajax-form type="html" button="submitButton" button-text="Register" button-type="primary">
                    <div id="partialForm">
                        <partial name="RegisterForm" model="Model" />
                    </div>
                </ajax-form>
            </div>
        </div>
    </div>
</div>

@section Scripts 
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_UnobtrusiveAjax");
    }
}