@page
@using EventManagement.WebRazorPages.Extensions;
@model EventManagement.WebRazorPages.Pages.Auth.RegisterModel
@{
}
<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header text-center">
                <h3>Register</h3>
            </div>
            <div class="card-body">
                <form method="post" data-ajax="true" data-ajax-method="post" data-ajax-success="success" data-ajax-dataType="html" data-ajax-failure="failure" data-ajax-button="#submitButton">
                    <div id="partialForm">
                        <partial name="RegisterForm" model="Model" />
                    </div>
                    <div class="form-group text-center mt-3">
                        <button type="submit" class="btn btn-primary" id="submitButton" data-loading-text="Loading..." data-text="Register">
                            Register
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts 
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_UnobtrusiveAjax");
    }
}