.gradient-custom {
    /* fallback for old browsers */
    background: #277d85;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(39, 125, 133, 0.5), rgba(39, 133, 94, 0.5));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(39, 125, 133, 0.5), rgba(39, 133, 94, 0.5))
}
.card {
    background-color: rgba(255, 255, 255, 0.5) !important;
}
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}